.page-header {
    position: relative;
    background-color: $primary-white-color;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;

    @media screen and (min-width: 1px) and (max-width: 767px) {
        flex: auto;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
        justify-content: flex-start;
    }

    & .logo {
        color: $accent-blue-color;
        font-family: Raleway;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;

        text-decoration: none;
        display: flex;
        align-items: center;
        padding-top: 16px;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            padding-top: 26px;
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            padding-top: 24px;
            padding-bottom: 5px;
            margin-right: 93px;
        }

        &__icon {
            color: $highlight-color;
        }

        &__icon:hover,
        &__icon:focus {
            color: #7b68ee;

            &:active {
                color: $active-color;
            }
        }
    }
}

.nav-area {
    display: none;

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;

        &__item:not(:last-child) {
            margin-right: 50px;
        }

        &__link {
            position: relative;
            display: block;
            padding: 32px 0px;
            color: $primary-text-color;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:active {
                color: $active-color;
            }

            &:hover,
            &:focus {
                color: $accent-blue-color;
            }
        }

        &__link--current {
            color: $accent-blue-color;

            &:after {
                display: inline-block;
                content: "";
                position: absolute;
                background-color: $accent-blue-color;
                bottom: -1px;
                right: 0px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
            }
        }
    }
}

.contacts {
    display: none;

    &__item a {
        color: $description-text-color;
        display: flex;
        flex-wrap: nowrap;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item a:hover,
    &__item a:focus {
        color: $accent-blue-color;
    }

    &__item a:active {
        color: $active-color;
    }

    &__link:hover,
    &__link:focus {
        --color3: #2196f3;
    }

    &__link {
        transition-property: --color3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-left: auto;

        &__item {
            margin-right: 0px;
        }

        &__item:first-child {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
        flex-direction: row;
        flex: none;

        &__item a {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        &__item:not(:last-child) {
            margin-right: 30px;
        }

        &__item:first-child {
            margin-bottom: 0px;
        }
    }
}

.contacts__item {
    font-weight: 500;
    font-size: 12px;    
    letter-spacing: 2%;

    @media screen and (min-width: 1200px) {
        font-size: 14px;        
    }
}

.contacts__icon--letter,
.contacts__icon--tel {
    content: "";
    height: 100%;
    display: flex;
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contacts__icon--letter {
    @media screen and (max-width: 1199px) {
        width: 14px;
        height: 10px;
}}

.contacts__icon--tel {
    @media screen and (max-width: 1199px) {
        width: 10px;
        height: 14px;
}}

/* Мобильное меню*/
.menu-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    background-color: $primary-white-color;
    padding: 20px;
    text-align: center;
    font-size: 20px;

    &.is-open {
        display: block;
    }
}