.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 500px;

    background-color: rgb(255, 255, 255);

    padding: 48px 40px;
    overflow-y: scroll;
    display: none;
    z-index: 1;   

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.menu-container.is-open {
display: flex;

@media screen and (min-width: 768px) {
    display: none;    
}
}


.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    
    @media screen and (min-width: 768px) {
        display: none;
    }
    
}
.icon-cross {
    display: flex;
    justify-content: center;
    align-items: center;      
}   

.icons-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover {
        fill: $active-color;}        
}

.menu-container .mobile__content {
height: 100%;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 302px;
    
    &__item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 2%;       
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
}
}
.item__link {
    color: inherit;
}

.item__link--current {
    color: $accent-blue-color;
}

.mobile-communications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;    
}

.communications__phone {    
    font-size: 34px;
    line-height: 1.17; 
    letter-spacing: 2%;
    margin-bottom: 32px;    
}
.phone__link {    
    font-weight: 500;
    color: $accent-blue-color;    
}
.communications__post {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16; 
    letter-spacing: 2%; 
    
}
.post__link {
    color: $description-text-color; 
}
.mobile-socials {
    display: flex;
}

.socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 2%;

    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);}
    
        &:not(:first-child) {
    padding-left: 10px;}   
}
.link__source {
    color:  $accent-blue-color;
}



