    .team {
        background-color: #F5F4FA;
    }

    .team__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;
            margin-bottom: 50px;
        }
    }

    .team__list {
        flex-wrap: wrap;
        justify-content: center;        

        @media screen and (min-width: 480px) and (max-width: 1199px) {
            margin-bottom: -30px;}


        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-left: -30px;
        }
    }

    .list__article {
        flex-basis: calc((100% - 4 * 30px) / 2);
        margin-bottom: 30px;
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: $primary-white-color;
        border-radius: 4px;

        
        @media screen and (max-width: 768px) {
            flex-basis: calc((100% - 1 * 30px) / 1);
            &>img {
                width: 100%;
                object-fit: contain;
                object-position: center;
                height: auto;
            }}


            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 1 * 30px) / 2);
                &:not(:nth-last-child) {
                    margin-bottom: 30px;
                }
                &>img {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                    height: auto;
                }}

            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 4 * 30px) / 3);
                margin-left: 30px;
                margin-bottom: 0px;
                width: 100%;
            }
        }

        .article__decor {
            border-radius: 4px;
            padding: 30px;
        }

        .list__article h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            margin-bottom: 10px;
        }

        .list__article p {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            margin-bottom: 16px;
        }

        /* стилизация карточек сотрудников ссылками на социальные сети */
        .social-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        @media screen and (min-width: 1200px) {
            justify-content: space-evenly;
        }
        }

        .social-links>li {
            width: 44px;
            height: 44px;
        }

        .social-links>li:not(:last-child) {
            margin-right: 10px;
        }

        /* стилизация ссылок на соц сети под карточками сотрудников*/
        .source-icon {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            height: 100%;
            color: #757575;
            background-color: $primary-white-color;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;

            transition-property: background-color, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .source-icon:hover,
        .source-icon:focus {
            background-color: $accent-blue-color;
        }

        .source-icon:hover .social-network,
        .source-icon:focus .social-network {
            fill: $primary-white-color;
        }

        .social-network {
            display: flex;
            color: $social-links-color;
            text-align: center;
        }

        .social-network {
            fill: currentColor;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }